<div>
    <h3> Bacheca dei commenti </h3>
        <form [formGroup] = "myForm"  (ngSubmit)="onSubmit(myForm.value)" class="jumbotron">
              Commenta qui: <input type="text" [formControl]="myForm.controls['commento']" class="form-control"><br>
              <button type='submit' class="btn btn-primary">Invia</button>

        <br>
        <br>
        <div>

            <ul>

                <li *ngFor = "let c of commento">
                    Post creato da: {{c.username}} <br>
                    {{c.commento}}
                </li>

            </ul>
        </div>

        </form>
</div>
